/*FUENTES*/

@font-face{
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Estilos Generales*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, Helvetica, Arial;
    text-decoration: none;
}

/* .clearfix{
    clear: both;
    float: none;
} */



body{
    background: url(../img/cubes.png) #f4f4f4;
}

.alerta{
    padding: 5px;
    font-size: 14px;
    color: white;
    background: green;
    box-shadow: 0px 1px 3px #ccc;
    /* margin-bottom: 15px; */
    border-radius: 2px;
    margin-top: 0.7rem;
}

.alerta-error{
    background: red;
    min-width: -webkit-fill-available;
}

.fecha{
    color: #4e4e4e;
    margin-top: 5px;
    font-size: 14px;
}

/*Estilos cabecera*/
.cabecera{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    /* width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto; */
}

/*LOGOTIPO*/
.logo{
    text-align: center;
    /* float: left;
    width: 540px;
    height: 110px; */
}


@media screen and (min-width:768px){
    .logo{
        text-align: left;
    }
}

.logo a{
    font-family: "fajala", Helvetica;
    font-size: 40px;
    letter-spacing: 2px;
    color: #2979cd;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
    transition: all 500ms;
    line-height: 90px;
    margin-left: 10px;
}

.logo a:hover{
    cursor: pointer;
    text-shadow: 0px 0px 0px black, -1px -1px 0px black, -2px -2px 0px black;
}

/*Estilos menú*/
.menu{
    
    /* clear:both;
    width: 100%;
    height: 45px;
    
     */
    background: transparent;
}

.menu ul{
    list-style: none;
    text-align: center;
    /* background-color: #F8F8FF; */
    background: linear-gradient(to bottom, #f8f8ff 0px, #e9e9e9 100%);
    border: 0.1rem solid #c9c9c9;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.1rem #ccc;
    margin-bottom: 1rem;
    overflow: hidden;
    /* padding: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #ccc;
    overflow: hidden; 
     */
}

.menu ul li{
    padding: .3rem;
    justify-content: center;
}

.menu ul li a{
    padding: 0.5rem;
    color: #838282;
    /* display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #838282; */
}

.menu ul li:hover{
    background: linear-gradient(to bottom, #f2f2f2 0px, #dad9da 100%);
}

@media screen and (min-width:460px){
    .menu ul{
        display: flex;
        flex-wrap: wrap;
    }

    .menu ul li{
        display: flex;
        flex: 0 0 calc(50% - 0.6rem);
    }
}
@media screen and (min-width:768px){
    .menu ul{
        display: flex;
        flex-direction: row;
    }
    .menu ul li{
        flex: auto;
    }
}

/*Contenido*/
.contenedor{
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    /* width: 85%;
    height: auto;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px; */
}

@media screen and (min-width:460px){
    .contenedor{
        flex-direction: column;
    }
}

@media screen and (min-width:768px){
    .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
}

/*Barra lateral*/
.sidebar{
    flex: 0 0 calc(30% - 1.5rem);
    /* float: right;
    width: 27%;
    height: auto; */
}


.bloque{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    background: white;
    padding: 0.9375rem;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #FFFFFF inset, 0px -3px 2px rgba(0,0,0,0.25) inset;
    /* display:block;
    margin: 0px auto;
    margin-bottom: 35px;
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 0px 1px #FFFFFF inset, 0px -3px 2px rgba(0,0,0,0.25) inset; */
}

.bloque h3{
    margin-bottom: 0.3rem;
}

#buscador.bloque{
    flex-direction: column;
}

#user_logged.bloque{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*Estilos para componentes*/
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    width: 100%;
    padding: 0.5rem;
    border: 0.0625rem solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label/* ,
input[type="text"],
input[type="email"],
input[type="password"] */{

    padding: 12px 12px 12px 0;
    display: inline-block;
    /* display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px; */
}

/* input[type="text"],
input[type="email"],
input[type="password"]{
    padding: 5px;
    margin-bottom: 10px;
} */

input[type="button"],
input[type="submit"],
.boton{
    /* display: flex;
    background-color: #007ee5;
    color: white;
    padding: 0.4375rem;
    border: 0.1rem solid #156785;
    border-radius: 0.125rem;
    cursor: pointer;
    margin-top: 0.3125rem; 
    margin-bottom: 0.3125rem;
    align-items: center;
    justify-content: center; */
    margin-top: 1rem;
    margin-bottom: 0.0625rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.125rem;
    color:white;
    background: #007ee5;
    border: 0.0625rem solid #156785;
    cursor:pointer;
    padding: 0.4375rem;
}

input[type="submit"]{
    width: 100%;
    justify-content: center;
}


.boton{
    color:white !important;
    justify-content: center;
}

.boton-naranja{
    background: orange;
    border-color: #bd7d08;
}

.boton-verde{
    background: #21b921;
    border-color: green;
}

.boton-rojo{
    background: red;
    border-color: #444;
}





/*Principal*/
.principal{
    width: 100%;
    background-color: white;
    padding: 1rem;
    flex: 0 0 calc(70% - 1.5rem);
    margin-bottom: 2rem;
    /* float: left;
    width: 65%;
    min-height: 572px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #eee;
    margin-left: 20px;
    overflow: hidden;
    padding: 20px; */
}

.principal form{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width:460px){
    .principal form p{
        flex-direction: column;
    }
}

@media screen and (min-width:768px){
    .principal form p{
        flex-direction: row;
        flex: 0 0 calc(50% - 2rem);
        padding: 0.5rem;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

.principal a{
    color: #333;
}

.principal h1{
    font-size: 32px;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #ccc;
    font-family: "fajala";
}

.principal h2{
    font-size: 20px;
    color: #2979cd;
    text-shadow: 1px 1px 2px #ccc;
    letter-spacing: 1px;
    font-family: "fajala";
    margin-top: 25px;
}

.principal p{
    margin-top: 0.5rem;

}

.ver-todas a{
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    padding: 1rem;
    color: white;
    background: #007ee5;
    border: 1px solid #156785;
    cursor: pointer;
    width: 160px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*PIE DE PÁGINA*/
.pie{
    display: flex;
    justify-content: space-around;
    padding: 0.9375rem;
    margin-top: 2rem;
    width: 85%;
    margin: 0rem auto;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
    color: #666;
    margin-bottom: 0rem;
}